section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}
section h2{
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin: 20px;
    padding: 0;
}
section table{
    width: 100%;
    border-collapse: separate;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    border: 5px solid red;
}
section table th{
    font-size: 20px;
    font-weight: 700;
    color: black;
    padding: 10px;
    border: 5px solid red;
    border-radius: 30px;
}
section table td{
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding: 10px;
}
